

body {
    height: 1937px;
    width: 1280px;
    background-color: #000000; 
    color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Raleway', sans-serif;
}

#titulo {
    height: 73px;
    text-align: center;   
}

h1{
    font-size: 50px;
    margin-top: 0px;
    font-weight: 500;
}
#imagen1 {
    height: 727px;
    width: 1280px;
}


#desc-section {
    height: 348px;
    width: 1280px;
}

#parrafo {
    margin-left: 150px;
}

.cajas {
    width: 475px;
    height:  197px;
    float:left;
    margin-top: 76px;
}


.iguana1 {
    width: 399px;
    height: 237px;
    margin-top: 45px;
    float:right;
    margin-right: 150px;
}

#parrafo {
    width: 475px;
    height: 197px;
    font-weight: 300;
}

#icons-section {
    height: 348px;
    width: 1280px;
    background-color: #1e1a13; 
    text-align: center;

}

#pre {
    font-size: 25px;
    font-weight: 300;
}


h2 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 0px;
}

#parte5 {
    height: 348px;
    text-align: center;
    display: table;
}

.footer {
    height: 102px;
    width: 1280px;
    background-color: #1e1a13; 
    text-align: center;
    display: table;
}

.hijo {
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
 }
